<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vaneqi.mapper.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.vaneqi.entity.Resource" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="res_id" property="resId" jdbcType="BIGINT" />
    <result column="res_name" property="resName" jdbcType="VARCHAR" />
    <result column="res_path" property="resPath" jdbcType="VARCHAR" />
    <result column="res_parent_id" property="resParentId" jdbcType="BIGINT" />
    <result column="res_type" property="resType" jdbcType="INTEGER" />
  </resultMap>
</mapper>